{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Page d'accueil</h1>
	<p>Bienvenue sur la page d'accueil de notre site de vente de livres SymBook</p>

{% endblock %}
