{% extends 'base.html.twig' %}

{% block title %}Payment
{% endblock %}

{% block body %}
	<h1>Create Charge</h1>
	<form action="{{ path('app_payment_charge') }}" method="POST">
		<button type="submit">Pay Now</button>
	</form>
{% endblock %}
